<!DOCTYPE html>
<html>
  <%= render "layouts/partials/head" %>

  <body>
    <header>
      <%= render "layouts/partials/admin/navbar" %>
    </header>
    <main class="min-h-screen">
      <%= render 'shared/messages' %>
      <%= yield %>
    </main>
    <footer class="footer bg-dark mt-auto py-3">
      <%= render 'layouts/partials/footer' %>
    </footer>
  </body>
</html>